@model IEnumerable<Toy>

@foreach (var item in Model)
{
    <div class="thumbnail">
        <img class="img-responsive" src="@item.ImageUrl" alt="@item.Name">
        <div class="caption-full">
            <h4 class="pull-right">$@item.Price</h4>
            <h4>
                <a href="#">@item.Name</a>
            </h4>
            <p class="product-description">@item.Description.</p>
            <p>
                Seller: @item.Seller.UserName
            </p>
            <p>
                Available: @item.Available
            </p>
        </div>

        @if (PrincipalExtensions.IsSignedIn(User))
        {
            if (PrincipalExtensions.GetUserId(User) != item.Seller.Id)
            {
                <form asp-controller="Sales" asp-action="MakeSale">
                    @*<div class="input-group">*@
                        Number of items: <input type="number" name="Amount" min="0" value="0" max="@item.Available"/>
                        <input type="hidden" name="ToyId" value="@item.ID" />
                        <button type="submit" class="btn btn-default">BUY!</button>
                    @*</div>*@
                </form>
            }

            @if (PrincipalExtensions.GetUserId(User) == item.Seller.Id ||
                 User.IsAdmin())
            {
                <a class="btn btn-default" asp-controller="Toys" asp-action="EditToy" asp-route-toyID="@item.ID">Edit toy</a>

                <form asp-controller="Sales" asp-action="RemoveToy">
                    @*<div class="input-group">*@
                    <input type="hidden" name="ToyId" value="@item.ID" />
                    <button type="submit" class="btn btn-default">Remove toy</button>
                    @*</div>*@
                </form>
            }
        }
    </div>
}
